__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.idea/
.vscode/
venv/
env/
qwen3-asr-finetuning-out2/
qwen3-asr-lora-chinese/
qwen3-asr-lora-chinese-1.7B/
res_testSet/*
resampled_16k/*
split_wavs-old/
split_wavs/
testSet/*
augmented_data/*
train-C.jsonl
eval.jsonl
train-N.jsonl
train.jsonl
